---
- name: "Configure capsule(s) load-balancer"
  hosts: capsule_lbs
  gather_facts: false

  roles:
    - role: linux-system-roles.firewall
    - role: ../common/roles/enlarge-arp-table
    - role: haproxy
...
