---
- hosts: satellite6
  vars_files:
    - ../../conf/satperf.yaml
    - ../../conf/satperf.local.yaml
  roles:
    - role: ../common/roles/epel-not-present
    - role: ../common/roles/scalelab-generic-cleanup
      when: '"scalelab" in inventory_hostname'
    - role: ../common/roles/plain-network
      when: 'configure_plain_network == True'
    - role: ../common/roles/common
    - role: ../common/roles/remove-home-extend-root
      when: 'remove_home_partition|bool == True or extend_root_partition|bool == True'
    - role: ../common/roles/enlarge-arp-table
    - role: linux-system-roles.timesync
    - role: rhsm_helper
      vars:
        registration_options: "{{ satellite_registration_options }}"
    - role: upgrade-restart
    - role: linux-system-roles.firewall
      vars:
        firewall: "{{ satellite_firewall }}"
    - role: ../common/roles/partition-new-storage
      vars:
        storage_pools: "{{ satellite_storage_pools }}"
        storage_safe_mode: False
      when:
        - satellite_storage_pools is defined and satellite_storage_pools|length > 0
    - role: repo_setup
      vars:
        additional_repos: "{{ satellite_additional_repos }}"
    - role: setup
    - role: enable-remote-exec-by-ip
    - role: puppet-autosign
...
