---
- name: "Common configuration steps for Satellite and capsule(s) servers"
  hosts: satellite6:capsules
  gather_facts: false

  roles:
    - role: linux-system-roles.firewall
    - role: linux-system-roles.storage
    - role: ../common/roles/enlarge-arp-table
...
