# System authorization information
auth --enableshadow --passalgo=sha512
# Use text mode install
url --url="{{ vms_kss_os }}"
install
text
# Do not run the Setup Agent on first boot
firstboot --disable
# Keyboard layouts
keyboard us
# System language
lang en_US.UTF-8
# Network information
network --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network --bootproto=static --device=eth1 --ip={{ item.ip }} --netmask={{ item.netmask }} --activate
network --hostname {{ item.hostname }}
# Root password
rootpw --iscrypted --plaintext {{ item.rootpw }}
# Do not configure the X Window System
skipx
# System timezone
timezone US/Eastern --isUtc --ntpservers={{ ntp_server }}
# Partitioning
clearpart --all
part swap --size=8000
part /boot --fstype=xfs --size=500
part pv.01 --fstype=lvmpv --size=10000
part pv.02 --fstype=lvmpv --grow
volgroup rhel --pesize=4096 pv.01
volgroup docker --pesize=4096 pv.02
logvol / --fstype=xfs --size=5000 --grow --name=root --vgname=rhel

%packages
vim-enhanced
bridge-utils
ntp
%end

%addon com_redhat_kdump --disable
%end

%post
# configure ssh key
mkdir /root/.ssh
chmod 700 /root/.ssh
echo "{{ vms_ssh_key }}" >/root/.ssh/authorized_keys
chmod 600 /root/.ssh/authorized_keys
#### set 2nd console service
###wget -O "/etc/systemd/system/serial-getty@ttyS1.service" "http://.../serial-getty@ttyS1.service"
###ln -s /etc/systemd/system/serial-getty@ttyS1.service /etc/systemd/system/getty.target.wants/
#### remove MAC from network file
###sed -i -e s/^HWADDR.*// /etc/sysconfig/network-scripts/ifcfg-eth0
#### ensure hostname is set via dhcp
###/bin/rm -f /etc/hostname
%end

reboot
