ansible==1.9.6
cffi==1.7.0
configparser==3.5.0
cryptography==1.4
docopt==0.6.2
elasticsearch==2.3.0
enum34==1.1.6
idna==2.1
ipaddress==1.0.16
Jinja2==2.8
MarkupSafe==0.23
paramiko==2.0.2
pyasn1==0.1.9
pycparser==2.14
pycrypto==2.6.1
pykwalify==1.5.1
python-dateutil==2.4.2
PyYAML==3.11
six==1.10.0
urllib3==1.16
