#Get rhn username and passwd and replace it 
export RHN_USERNAME="test"
export RHN_PASSWORD="test"
export pool_id="8a85f9823e3d5e43013e3e0af77e0f36"
export ADMIN_USER="admin"
export ADMIN_PASSWORD="changeme"
export ORG='Default Organization'
export LOCATION='Default Location'

export SAT_REPO="http://satellite6.lab.eng.rdu2.redhat.com/devel/candidate-trees/Satellite/"
SAT_VERSION="6.1"

RHEL5='5.11'
RHEL6='6.7'
RHEL7='7.2'
SSH_OPTS="StrictHostKeyChecking no"

#Enable pbench 
PBENCH=true

#Capsules server host names
CAPSULES="vmcapsule01.abc.com vmcapsule02.abc.com vmcapsule03.abc.com"

#Content repo server (CDN or Local reposerver)
REPOSERVER="http://cdn.redhat.com"

MANIFSET="/root/manifest.zip"
#Repo list to sync to satelitte server from CDN/Repo server
#REPOLIST="Red Hat Enterprise Linux 5 Server (RPMs)":x86_64:5Server,"Red Hat Enterprise Linux 5 Server (RPMs)":i386:5Server,"Red Hat Enterprise Linux 6 Server (RPMs)":x86_64:6Server,"Red Hat Enterprise Linux 6 Server (RPMs)":i386:6Server,"Red Hat Enterprise Linux 7 Server (RPMs)":x86_64:7Server

#concurrent or sync
CONCURRENT=yes
