---
- name: "Set default variable(s) values"
  ansible.builtin.set_fact:
    user: "{{ user | default('{{ sat_user }}') | default('admin') }}"
    password: "{{ password | default('{{ sat_pass }}') }}"

- name: "Ensure sat_version is string to avoid hard to detect issues"
  ansible.builtin.assert:
    that: sat_version is string
    fail_msg: "Variable 'sat_version' has to be a string to avoid issues like one when we had 6.10 version interpretted as 6.1 (trailing '0' removed as it was interpreted as number)"
  when:
    - product is not defined or product == 'satellite'
    - sat_version is defined

- name: "Detect RHEL release"
  ansible.builtin.setup:
    filter: ansible_distribution_major_version
  when: ansible_distribution_major_version is not defined

# RHEL8 requirements
- name: "Enable satellite:el8 module"
  ansible.builtin.command:
    cmd: |
      dnf -y module enable satellite:el8
  when:
    - product is not defined or product == 'satellite'
    - ansible_distribution_major_version | int == 8

# Install packages required for Satellite
- name: "Install satellite package"
  ansible.builtin.dnf:
    name: satellite
    state: present
  when:
    - product is not defined or product == 'satellite'

# Install packages required for Foreman
- name: Install Foreman required packages
  ansible.builtin.dnf:
    name:
      - "https://yum.theforeman.org/releases/{{ foreman_version }}/el{{ ansible_distribution_major_version }}/x86_64/foreman-release.rpm"
      - "https://yum.theforeman.org/katello/{{ katello_version }}/katello/el{{ ansible_distribution_major_version }}/x86_64/katello-repos-latest.rpm"
      - "https://yum.puppet.com/puppet8-release-el-{{ ansible_distribution_major_version }}.noarch.rpm"
    state: latest
    disable_gpg_check: true
  when:
    - product is defined and product == 'foreman'

- name: "Install foreman-installer-katello package"
  ansible.builtin.dnf:
    name: foreman-installer-katello
    state: present
  when:
    - product is defined and product == 'foreman'

- name: "Determine Satellite facts"
  ansible.builtin.set_fact:
    installer_name: "satellite-installer"
    scenario: "satellite"
  when:
    - product is not defined or product == 'satellite'

- name: "Determine Foreman facts"
  ansible.builtin.set_fact:
    installer_name: "foreman-installer"
    scenario: "katello"
  when:
    - product is defined and product == 'foreman'

# Figure out installer options
- name: "Determine base installer options"
  ansible.builtin.set_fact:
    installer_opts: "--foreman-initial-admin-username {{ user }} --foreman-initial-admin-password {{ password }}"

- name: "Determine installer command line"
  ansible.builtin.set_fact:
    installer_cmd_line: "{{ installer_name }} --scenario {{ scenario }} {{ installer_opts }}"

- name: "Add Insights connection parameter"
  ansible.builtin.set_fact:
    installer_cmd_line: "{{ installer_cmd_line }} --foreman-proxy-plugin-remote-execution-script-install-key true"
  when:
    - setup_insights is not defined or not setup_insights

- name: "Add MQTT transport for remote execution parameter"
  ansible.builtin.set_fact:
    installer_cmd_line: "{{ installer_cmd_line }} --foreman-proxy-plugin-remote-execution-script-mode pull-mqtt"
  when:
    - rex_mode is defined and rex_mode == 'mqtt'

- name: "Run desired shell commands before installation"
  ansible.builtin.shell:
    cmd: "{{ run_before_installer }}"
  when:
    - run_before_installer is defined and run_before_installer | length > 0

- name: "Populate /etc/foreman-installer/custom-hiera.yaml (if needed)"
  include_role:
    name: apply_custom-hiera
  when:
    - custom_hiera_content is defined and custom_hiera_content | length > 0

- name: "Show installer command line"
  ansible.builtin.debug:
    msg: "{{ installer_cmd_line }}"

# Run the installer
- name: "Run Satellite configuration"
  ansible.builtin.shell: "{{ installer_cmd_line }}"
  environment:
    LANG: "en_US.UTF-8"
    LC_ALL: "en_US.UTF-8"
    TZ: "UTC"
  register: installer_cmd

- name: "Show Satellite configuration output"
  ansible.builtin.debug:
    var: installer_cmd.stdout_lines

- name: "Calculate run duration"
  ansible.builtin.set_fact:
    duration: "{{ (installer_cmd.end | to_datetime('%Y-%m-%d %H:%M:%S.%f')).timestamp() - (installer_cmd.start | to_datetime('%Y-%m-%d %H:%M:%S.%f')).timestamp() }}"

- name: "Print installer run duration"
  ansible.builtin.debug:
    msg: "SatelliteInstallerScenarioSatellite {{ installer_cmd.start }} to {{ installer_cmd.end }} taking {{ duration }} seconds"

- name: "Enable IOP advisor engine"
  ansible.builtin.shell:
    cmd: |
      {{ installer_name }} --foreman-plugin-rh-cloud-enable-iop-advisor-engine true
  when:
    - disable_iop is not defined or (disable_iop is defined and not disable_iop)
    - sat_version == 'stream' or sat_version is ansible.builtin.version('6.17.0', '>=')

- name: "Run desired shell commands after installation"
  ansible.builtin.shell:
    cmd: "{{ run_after_installer }}"
  when:
    - run_after_installer is defined and run_after_installer | length > 0

- name: "Workaround for: Bug 2132774 - On its default configuration mosquitto cannot accept more than 1014 clients"
  ansible.builtin.copy:
    content: |
      [Service]
      LimitNOFILE=infinity
    dest: /etc/systemd/system/mosquitto.service.d/limits.conf
    mode: '0444'
  when:
    - rex_mode is defined and rex_mode == 'mqtt'

- name: Restart mosquitto service unit
  ansible.builtin.systemd_service:
    name: mosquitto
    daemon_reload: true
    state: restarted
  when:
    - rex_mode is defined and rex_mode == 'mqtt'
...
