---
- hosts: docker-hosts
  remote_user: root
  ###gather_facts: no
  vars_files:
    - ../../conf/satperf.yaml
    - ../../conf/satperf.local.yaml
  roles:
    - ../common/roles/scalelab-nic-cleanup
    - ../common/roles/common
    - { role: docker-host-kvm-partitioning, when: docker_host_partitioning == 'kvm' }
    - { role: docker-host-ec2-partitioning, when: docker_host_partitioning == 'ec2' }
    - { role: docker-host-from_disk-partitioning, when: docker_host_partitioning == 'from_disk' }
    - { role: docker-host-myrhev_cleanup-partitioning, when: docker_host_partitioning == 'myrhev_cleanup' }
    - { role: docker-host-try10klab-partitioning, when: docker_host_partitioning == 'try10klab' }
    - { role: docker-host-scalelab6048r-partitioning, when: "'-6048r.' in inventory_hostname" }
    - { role: docker-host-scalelab6018r-partitioning, when: "'-6018r.' in inventory_hostname" }
    - { role: docker-host-scalelabr930-partitioning, when: "'-r930.' in inventory_hostname" }
    - { role: docker-host-scalelabr630-partitioning, when: "'-r630.' in inventory_hostname or '-r620.' in inventory_hostname" }
    - { role: docker-host-scalelab1029p-partitioning, when: "'-1029p.' in inventory_hostname" }
    - { role: ../common/roles/rhsm-satellite, when: docker_host_register_to == 'satellite' }
    - { role: ../common/roles/rhsm, when: docker_host_register_to != 'satellite' }
    ###- upgrade-restart
    - docker-host-vg   # when docker_host_vg is empty, this autodetects it
    - docker-host
    - build-image
    - ../common/roles/enlarge-arp-table
    - ../common/roles/enlarge-inotify-limits
    - ../satellite/roles/client-scripts
...
