#!/bin/bash

set -eu


REGISTRY={{ tests_registration_target }}
FLATPAK_REMOTE=katello

# Add Satellite as Flatpak remote (idempotent)
flatpak remote-add \
  --if-not-exists \
  --authenticator-name=org.flatpak.Authenticator.Oci \
  "${FLATPAK_REMOTE}" \
  "oci+https://${REGISTRY}/"

# Install thunderbird
flatpak install --assumeyes "${FLATPAK_REMOTE}" thunderbird
