#!/bin/bash

set -eu


REGISTRY={{ tests_registration_target }}
RHEL_MAJOR_VERSION="$(awk -F'[=".]' '/VERSION_ID/ {print $3}' /etc/os-release)"
RHOSP_REPO_NAME=rhoso_openstack-base-rhel9
{% if sat_version == 'stream' or sat_version.split('.') | map('int') | list >= [6, 17, 0] %}
RHOSP_IMAGE_LOCATION=default_organization/test/ccv_${RHEL_MAJOR_VERSION}/rhosp/${RHOSP_REPO_NAME}
{% else %}
RHOSP_IMAGE_LOCATION=default_organization-test-ccv_${RHEL_MAJOR_VERSION}-rhosp-${RHOSP_REPO_NAME}
{% endif %}
RHOSP_TAG=18.0

podman pull --tls-verify=false ${REGISTRY}/${RHOSP_IMAGE_LOCATION}:${RHOSP_TAG}
