#!/bin/bash

set -eu


MAJOR_RHEL_VERSION="$(awk -F'[=".]' '/VERSION_ID/ {print $3}' /etc/os-release)"
MAJOR_RHOSP_VERSION=17
IMAGE_LOCATION={% if sat_version == '6.16' or sat_version == '6.15' or sat_version == '6.14' %}default_organization-test-ccv_rhel${MAJOR_RHEL_VERSION}-rhosp-rhosp-rhel${MAJOR_RHEL_VERSION}_openstack-base{% else %}default_organization/test/ccv_rhel${MAJOR_RHEL_VERSION}/rhosp/rhosp-rhel${MAJOR_RHEL_VERSION}_openstack-base{% endif %}

REGISTRY={{ tests_registration_target }}

podman login --tls-verify=false --username {{ sat_user }} --password {{ sat_pass }} $REGISTRY

TAG="$(podman search --tls-verify=false --list-tags --format="{% raw %}{{.Tag}}{% endraw %}" --limit 250 $REGISTRY/$IMAGE_LOCATION | sort -u | grep ^$MAJOR_RHOSP_VERSION | head -n1)"

podman pull --tls-verify=false $REGISTRY/$IMAGE_LOCATION:$TAG
