---
- name: "Set default variable(s) values"
  ansible.builtin.set_fact:
    user: "{{ user | default('{{ sat_user }}') | default('admin') }}"
    password: "{{ password | default('{{ sat_pass }}') }}"
    organization: "{{ organization | default('{{ sat_org }}') | default('Default Organization') }}"
    location_groupname: "location_{{ location | lower }}"

- name: "Ensure sat_version is string to avoid hard to detect issues"
  ansible.builtin.assert:
    that: sat_version is string
    fail_msg: "Variable 'sat_version' has to be a string to avoid issues like one when we had 6.10 version interpretted as 6.1 (trailing '0' removed as it was interpreted as number)"
  when:
    - product is not defined or product == 'satellite'
    - sat_version is defined

- name: "Detect RHEL release"
  ansible.builtin.setup:
    filter: ansible_distribution_major_version
  when: ansible_distribution_major_version is not defined

# RHEL8 requirements
- name: "Enable satellite-capsule:el8 module"
  ansible.builtin.command:
    cmd: |
      dnf -y module enable satellite-capsule:el8
  when:
    - product is not defined or product == 'satellite'
    - ansible_distribution_major_version | int == 8

# Install packages required for Satellite capsule
- name: "Install satellite-capsule package"
  ansible.builtin.dnf:
    name: satellite-capsule
    state: present
  when:
    - product is not defined or product == 'satellite'

# Install packages required for Foreman smart proxy
- name: Install Foreman required packages
  ansible.builtin.dnf:
    name:
      - "https://yum.theforeman.org/releases/{{ foreman_version }}/el{{ ansible_distribution_major_version }}/x86_64/foreman-release.rpm"
      - "https://yum.theforeman.org/katello/{{ katello_version }}/katello/el{{ ansible_distribution_major_version }}/x86_64/katello-repos-latest.rpm"
      - "https://yum.puppet.com/puppet8-release-el-{{ ansible_distribution_major_version }}.noarch.rpm"
    state: latest
    disable_gpg_check: true
  when:
    - product is defined and product == 'foreman'

- name: "Install foreman-proxy-content package"
  ansible.builtin.dnf:
    name: foreman-proxy-content
    state: present
  when:
    - product is defined and product == 'foreman'

# Prepare for capsule installation
- name: "Set certs-generate base options"
  ansible.builtin.set_fact:
    certs_generate_options: "--certs-tar /var/www/html/pub/{{ inventory_hostname }}-certs.tar --foreman-proxy-fqdn {{ inventory_hostname }}"

- name: "Get load balancer name"
  ansible.builtin.set_fact:
    capsule_lb: "{{ groups['capsule_lbs'] | intersect(groups[location_groupname]) | first }}"
  when:
    - "'capsule_lbs' in groups"
    - groups['capsule_lbs'] | intersect(groups[location_groupname]) | length > 0

- name: "Add load balanced capsule parameters"
  ansible.builtin.set_fact:
    certs_generate_options: "{{ certs_generate_options }} --foreman-proxy-cname {{ capsule_lb }}"
  when:
    - "'capsule_lbs' in groups"
    - groups['capsule_lbs'] | intersect(groups[location_groupname]) | length > 0

- name: "Determine certs-generate command (Satellite)"
  ansible.builtin.set_fact:
    certs_generate_cmd: "capsule-certs-generate"
  when:
    - product is not defined or product == 'satellite'

- name: "Determine certs-generate command (Foreman)"
  ansible.builtin.set_fact:
    certs_generate_cmd: "foreman-proxy-certs-generate"
  when:
    - product is defined and product == 'foreman'

# - name: "Run capsule-certs-generate (concurrently)"
#   ansible.builtin.shell:
#     cmd: |
#       set -o pipefail
# 
#       {{ certs_generate_cmd }} {{ certs_generate_options }} 2>&1 | tee /var/www/html/pub/{{ inventory_hostname }}-out.raw
#   delegate_to: "{{ groups['satellite6'] | first }}"
#   when:
#     - sat_version == 'stream' or sat_version is ansible.builtin.version('6.16.0', '>=')

- name: "Run capsule-certs-generate (sequentially)"
  # XXX: Bug 2265385 - `capsule-certs-generate` cannot be run concurrently for different capsules
  throttle: 1
  ansible.builtin.shell:
    cmd: |
      set -o pipefail

       {{ certs_generate_cmd }} {{ certs_generate_options }} 2>&1 | tee /var/www/html/pub/{{ inventory_hostname }}-out.raw
  delegate_to: "{{ groups['satellite6'] | first }}"
  # when:
  #   - sat_version != 'stream' and sat_version is ansible.builtin.version('6.16.0', '<')

  # Output of this command looks like this:
  # # capsule-certs-generate --certs-tar aaa.tar --capsule-fqdn capsule.example.com
  # Installing             Done                                               [100%] [..........]
  #   Success!
  # 
  #   To finish the installation, follow these steps:
  # 
  #   1. Ensure that the foreman-installer-katello package is installed on the system.
  #   2. Copy aaa.tar to the system capsule.example.com
  #   3. Run the following commands on the capsule (possibly with the customized
  #      parameters, see foreman-installer --scenario capsule --help and
  #      documentation for more info on setting up additional services):
  # 
  #   yum -y localinstall http://sat.example.com/pub/katello-ca-consumer-latest.noarch.rpm
  #   subscription-manager register --org "Default_Organization"
  #   satellite-installer --scenario capsule\
  #                       --parent-fqdn                         "sat.example.com"\
  #                       --register-in-foreman                 "true"\
  #                       --foreman-base-url                    "https://sat.example.com"\
  #                       --trusted-hosts                       "sat.example.com"\
  #                       --trusted-hosts                       "capsule.example.com"\
  #                       --oauth-consumer-key                  "ZpFxdhmWhArPmdV5dXn98uuZZzqEMJxc"\
  #                       --oauth-consumer-secret               "4xaW6ZvyP8sJeHyhehEhzt7nspDq6k3W"\
  #                       --pulp-oauth-secret                   "waQ9uU4HGrtfbAgcTFzqHASCqwJMx9qi"\
  #                       --certs-tar                           "aaa.tar"
  #   The full log is at /var/log/capsule-certs-generate.log

- name: "Download tarball created by capsule-certs-generate"
  ansible.builtin.get_url:
    url: "http://{{ groups['satellite6'] | first }}/pub/{{ inventory_hostname }}-certs.tar"
    dest: "/root/{{ inventory_hostname }}-certs.tar"
    mode: '0600'
    force: true

- name: "Download output produced by capsule-certs-generate"
  ansible.builtin.get_url:
    url: "http://{{ groups['satellite6'] | first }}/pub/{{ inventory_hostname }}-out.raw"
    dest: "/root/{{ inventory_hostname }}-out.raw"
    mode: '0600'
    force: true

- name: "Get only commands we need to run"
  ansible.builtin.shell:
    cmd: |
      set -o pipefail

      sed 's/\x1B\[[0-9;]*[JKmsu]//g' "/root/{{ inventory_hostname }}-out.raw" |
        grep \
          -e '^\s\+satellite-installer\s*' \
          -e '^\s\+foreman-installer\s*' \
          -e '^\s\+capsule-installer\s*' \
          -e '^\s\+--' |
        sed 's|\(^\s\+--certs-tar\s\+"\).*$|\1/root/{{ inventory_hostname }}-certs.tar"\\|' \
        > "/root/{{ inventory_hostname }}-script.sh"

- name: "Add load balanced capsule parameter"
  ansible.builtin.lineinfile:
    dest: "/root/{{ inventory_hostname }}-script.sh"
    line: '                    --certs-cname                                 "{{ capsule_lb }}"\'
    insertafter: '.*--certs-tar-file.*'
  when:
    - "'capsule_lbs' in groups"
    - groups['capsule_lbs'] | intersect(groups[location_groupname]) | length > 0

- name: "Add load balanced capsule host registration URL parameter"
  ansible.builtin.lineinfile:
    dest: "/root/{{ inventory_hostname }}-script.sh"
    line: '                    --foreman-proxy-registration-url              "https://{{ capsule_lb }}:9090"\'
    insertafter: '.*--certs-cname.*'
  when:
    - "'capsule_lbs' in groups"
    - groups['capsule_lbs'] | intersect(groups[location_groupname]) | length > 0

- name: "Add load balanced capsule proxy template URL parameter"
  ansible.builtin.lineinfile:
    dest: "/root/{{ inventory_hostname }}-script.sh"
    line: '                    --foreman-proxy-template-url                  "https://{{ capsule_lb }}:8000"\'
    insertafter: '.*--foreman-proxy-registration-url.*'
  when:
    - "'capsule_lbs' in groups"
    - groups['capsule_lbs'] | intersect(groups[location_groupname]) | length > 0

- name: "Make sure remote execution plugin is enabled"
  ansible.builtin.lineinfile:
    dest: "/root/{{ inventory_hostname }}-script.sh"
    line: '                    --enable-foreman-proxy-plugin-remote-execution-script\'
    insertafter: '.*--certs-tar-file.*'

- name: "Add MQTT transport for remote execution parameter"
  ansible.builtin.lineinfile:
    dest: "/root/{{ inventory_hostname }}-script.sh"
    line: '                    --foreman-proxy-plugin-remote-execution-script-mode pull-mqtt\'
    insertbefore: '.*--enable-foreman-proxy-plugin-remote-execution-script.*'
  when:
    - rex_mode is defined and rex_mode == 'mqtt'

- name: "Make sure Ansible plugin is enabled"
  ansible.builtin.lineinfile:
    dest: "/root/{{ inventory_hostname }}-script.sh"
    line: '                    --enable-foreman-proxy-plugin-ansible\'
    insertafter: '.*--certs-tar-file.*'
  # XXX: Submit Bug???
  when:
    - product is not defined or product == 'satellite'

- name: "Run desired shell commands before installation"
  ansible.builtin.shell:
    cmd: |
      set -o pipefail

      {{ run_before_installer }}
  when:
    - run_before_installer is defined and run_before_installer | length > 0

# Finally install capsule
- name: "Run Capsule configuration"
  # XXX: Submit PR
  throttle: 1
  ansible.builtin.command:
    cmd: |
      bash /root/{{ inventory_hostname }}-script.sh
  environment:
    LANG: "en_US.UTF-8"
    LC_ALL: "en_US.UTF-8"
    TZ: "UTC"
  register: configuration

- name: "Show Capsule configuration output"
  ansible.builtin.debug:
    var: configuration.stdout_lines

- name: "Calculate run duration"
  ansible.builtin.set_fact:
    duration: "{{ (configuration.end | to_datetime('%Y-%m-%d %H:%M:%S.%f')).timestamp() - (configuration.start | to_datetime('%Y-%m-%d %H:%M:%S.%f')).timestamp() }}"

- name: "Print capsule installer run duration"
  ansible.builtin.debug:
    msg: "SatelliteInstallerScenarioCapsule {{ configuration.start }} to {{ configuration.end }} taking {{ duration }} seconds"

- name: "Get capsule ID"
  ansible.builtin.command:
    cmd: |
      hammer --no-headers -u {{ user }} -p {{ password }} capsule list --search 'name = {{ inventory_hostname }}' --fields id
  register: capsule_id_cmd
  delegate_to: "{{ groups['satellite6'] | first }}"
  when:
    - "'capsule_lbs' in groups"
    - groups['capsule_lbs'] | intersect(groups[location_groupname]) | length > 0

- name: "Set capsule ID"
  ansible.builtin.set_fact:
    id: "{{ capsule_id_cmd.stdout }}"
  when:
    - "'capsule_lbs' in groups"
    - groups['capsule_lbs'] | intersect(groups[location_groupname]) | length > 0

- name: "Refresh capsule features"
  # XXX: Submit PR
  throttle: 1
  ansible.builtin.command:
    cmd: |
      hammer -u {{ user }} -p {{ password }} capsule refresh-features --organization '{{ organization }}' --id {{ id }}
  delegate_to: "{{ groups['satellite6'] | first }}"
  when:
    - "'capsule_lbs' in groups"
    - groups['capsule_lbs'] | intersect(groups[location_groupname]) | length > 0

- name: "Run desired shell commands after installation"
  ansible.builtin.shell:
    cmd: |
      set -o pipefail

      {{ run_after_installer }}
  when:
    - run_after_installer is defined and run_after_installer | length > 0

- name: "Workaround for: Bug 2132774 - On its default configuration mosquitto cannot accept more than 1014 clients"
  ansible.builtin.copy:
    dest: /etc/systemd/system/mosquitto.service.d/limits.conf
    content: |
      [Service]
      LimitNOFILE=infinity
    mode: '0444'
  when:
    - rex_mode is defined and rex_mode == 'mqtt'

- name: Restart mosquitto service unit
  ansible.builtin.systemd:
    name: mosquitto
    state: restarted
    daemon_reload: true
  when:
    - rex_mode is defined and rex_mode == 'mqtt'
...
