---
- hosts: satellite6:capsules:capsule_lbs:container_hosts
  gather_facts: false

  roles:
    - role: common
    - role: linux-system-roles.timesync
    - role: linux-system-roles.rhc
    - role: upgrade-restart
    - role: epel-not-present
...
