---
- hosts: all
  gather_facts: false

  tasks:
    - name: Register
      ansible.builtin.shell:
        cmd: |
          set -o pipefail

          /root/host-registration.sh | tee -a /root/registration.log
          ret=$?

          echo "-" >>/root/registration.log
          echo "Return code: $ret" >>/root/registration.log
          echo "-----" >>/root/registration.log

          cat /root/registration.log
          exit $ret
      environment:
        TZ: UTC   # make sure returned times are in UTC
      register: registration

    - name: Register - output
      ansible.builtin.debug:
        var: registration.stdout_lines

    - name: Calculate registration duration
      ansible.builtin.set_fact:
        reg_duration: "{{ (registration.end | to_datetime('%Y-%m-%d %H:%M:%S.%f')).timestamp() - (registration.start | to_datetime('%Y-%m-%d %H:%M:%S.%f')).timestamp() }}"

    - name: Register - timings
      ansible.builtin.debug:
        msg: "Register {{ registration.start }} to {{ registration.end }} taking {{ reg_duration }} seconds"
      when:
        - registration is success

    # - name: "Disable insights-client automatic scheduling"
    #   ansible.builtin.shell:
    #     cmd: |
    #       set -o pipefail

    #       if [[ -x /usr/bin/insights-client ]]; then
    #           insights-client --disable-schedule
    #       fi
...
