---
- hosts: all
  gather_facts: false

  tasks:
    - name: Register
      ansible.builtin.shell:
        cmd: |
          set -o pipefail

          if [[ -f /root/registration.log && ! -f /root/registration.log.orig ]]; then
              cp -p /root/registration.log /root/registration.log.orig
          fi

          /root/host-registration.sh &>/root/registration.log
          ret=$?

          echo '-' >>/root/registration.log
          echo "Return code: $ret" >>/root/registration.log
          echo '-----' >>/root/registration.log

          cat /root/registration.log
          exit $ret
      environment:
        TZ: UTC   # make sure returned times are in UTC
      register: registration
      # XXX: Ignore errors in order to be able to show `registration.stdout_lines`
      ignore_errors: true

    - name: Register - output
      ansible.builtin.debug:
        var: registration.stdout_lines
      failed_when:
        - registration is failed

    - name: Calculate registration duration
      ansible.builtin.set_fact:
        reg_duration: "{{ (registration.end | to_datetime('%Y-%m-%d %H:%M:%S.%f')).timestamp() - (registration.start | to_datetime('%Y-%m-%d %H:%M:%S.%f')).timestamp() }}"

    - name: Register - timings
      ansible.builtin.debug:
        msg: "Register {{ registration.start }} to {{ registration.end }} taking {{ reg_duration }} seconds"

    # - name: "Disable insights-client automatic scheduling"
    #   ansible.builtin.shell:
    #     cmd: |
    #       set -o pipefail

    #       if [[ -x /usr/bin/insights-client ]]; then
    #           insights-client --disable-schedule
    #       fi
...
