---
- name: Enable foremanctl COPR
  community.general.copr:
    name: "@theforeman/foremanctl"
    chroot: "rhel-{{ ansible_facts['distribution_major_version'] }}-x86_64"

- name: Install foremanctl package
  ansible.builtin.dnf:
    name: foremanctl
    state: present

- name: Use code from git
  when:
    - use_git is defined and use_git | bool
  block:
    - name: Set required variable(s) values
      ansible.builtin.set_fact:
        organization: "{{ organization | default('theforeman') }}"

    - name: PRs
      when:
        - prs is defined and prs | length > 0
      block:
        - name: Set required variable(s) values
          ansible.builtin.set_fact:
            prs_list: "{{ prs | split }}"

        - name: Clone foremanctl git repo
          ansible.builtin.git:
            repo: "https://github.com/{{ organization }}/foremanctl.git"
            dest: /tmp/foremanctl
            refspec: '+refs/pull/*:refs/heads/*'

        - name: "Checkout foremanctl PRs: {{ prs_list }}"
          ansible.builtin.shell:
            cmd: |
              cd /tmp/foremanctl && git pull --rebase origin refs/pull/{{ item }}/head
          loop: "{{ prs_list }}"

    - name: version
      when:
        - version is defined and version | length > 0
      block:
        - name: Set required variable(s) values
          ansible.builtin.set_fact:
            version: "{{ version }}"

        - name: Clone foremanctl git repo
          ansible.builtin.git:
            repo: "https://github.com/{{ organization }}/foremanctl.git"
            dest: /tmp/foremanctl
            version: "{{ version }}"

    - name: Move the original src directory
      ansible.builtin.copy:
        src: /usr/share/foremanctl/src/
        dest: /usr/share/foremanctl/src.orig/
        mode: 'preserve'
        remote_src: true

    - ansible.builtin.file:
        path: /usr/share/foremanctl/src/
        state: absent

    - name: Copy the src directory from the git clone
      ansible.builtin.copy:
        src: /tmp/foremanctl/src/
        dest: /usr/share/foremanctl/src/
        remote_src: true

- name: Set deployer command
  ansible.builtin.set_fact:
    deployer: foremanctl

- name: Set command line to pull images
  ansible.builtin.set_fact:
    pull_images_cmd: "{{ deployer }} pull-images"

- name: Set command line to deploy
  ansible.builtin.set_fact:
    deploy_cmd: "{{ deployer }} deploy"

- name: Pull images
  block:
    - name: Show command line to pull images
      ansible.builtin.debug:
        msg: "{{ pull_images_cmd }}"

    - name: Pull images
      ansible.builtin.command:
        cmd: "{{ pull_images_cmd }}"
      register: pull_images_cmd_out
      # XXX: Ignore errors in order to be able to show `pull_images_cmd_out.stdout_lines`
      ignore_errors: true

    - name: Show pull images output
      ansible.builtin.debug:
        var: pull_images_cmd_out.stdout_lines
      failed_when:
        - pull_images_cmd_out is failed

- name: Initial deployment
  block:
    - name: Set basic deployment command line
      ansible.builtin.set_fact:
        initial_deploy_cmd: "{{ deploy_cmd }} --foreman-initial-admin-password {{ password | default('{{ foreman_password }}') }}"

    - name: Show deployment command line
      ansible.builtin.debug:
        msg: "{{ initial_deploy_cmd }}"

    - name: Run deployment
      ansible.builtin.command:
        cmd: "{{ initial_deploy_cmd }}"
      register: initial_deploy_cmd_out
      # XXX: Ignore errors in order to be able to show `initial_deploy_cmd_out.stdout_lines`
      ignore_errors: true

    - name: Show deployment output
      ansible.builtin.debug:
        var: initial_deploy_cmd_out.stdout_lines
      failed_when:
        - initial_deploy_cmd_out is failed

    - name: Calculate deployment duration
      ansible.builtin.set_fact:
        duration: "{{ (initial_deploy_cmd_out.end | to_datetime('%Y-%m-%d %H:%M:%S.%f')).timestamp() - (initial_deploy_cmd_out.start | to_datetime('%Y-%m-%d %H:%M:%S.%f')).timestamp() }}"

    - name: Show deployment duration
      ansible.builtin.debug:
        msg: "ForemanctlDeploy {{ initial_deploy_cmd_out.start }} to {{ initial_deploy_cmd_out.end }} taking {{ duration }} seconds"

- name: Add features
  block:
    - name: hammer
      block:
        - name: Setup Foreman repositories
          ansible.builtin.include_role:
            name: theforeman.operations.foreman_repositories
          vars:
            foreman_repositories_version: nightly
            foreman_repositories_katello_version: nightly

        - name: Set feature deployment command line
          ansible.builtin.set_fact:
            add_features_cmd: "{{ deploy_cmd }} --add-feature hammer"

    - name: foreman-proxy
      block:
        - name: Set `foreman-proxy` feature deployment command line
          ansible.builtin.set_fact:
            add_features_cmd: "{{ add_features_cmd }} --add-feature foreman-proxy"

    - name: IOP
      when:
        - enable_iop | default(false) | bool
      block:
        - name: Set `IOP` feature deployment command line
          ansible.builtin.set_fact:
            add_features_cmd: "{{ add_features_cmd }} --add-feature iop"

    - name: Show features deployment command line
      ansible.builtin.debug:
        msg: "{{ add_features_cmd }}"

    - name: Run features deployment
      ansible.builtin.command:
        cmd: "{{ add_features_cmd }}"
      register: add_features_cmd_out
      # XXX: Ignore errors in order to be able to show `add_features_cmd_out.stdout_lines`
      ignore_errors: true

    - name: Show features deployment output
      ansible.builtin.debug:
        var: add_features_cmd_out.stdout_lines
      failed_when:
        - add_features_cmd_out is failed

    - name: hammer
      block:
        - name: Disable the Foreman repositories
          ansible.builtin.dnf:
            name: foreman-release
            state: absent
...
